python-dotenv
streamlit
streamlit-lottie
groq
fpdf
python-docx
numpy
pandas
scikit-learn
transformers
requests

streamlit
streamlit-lottie
groq
fpdf
python-docx
numpy
pandas
scikit-learn
transformers
requests

